/* src/components/employee/employee-details/employee-details.css */
.center {
    justify-content: center;
    display: flex;
  }

#employeedetails {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
  }
.detailHeader {
    background-color: dodgerblue; 
    text-align: right;
    padding: 10px;
    width: 20%;
    color: white;
    font-weight: bold;
}
.detailResult {
    background-color: #ddd;
    text-align: left;
    padding-left: 20px;
    width: 80%;
}

button {
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  #mainTable{
    width: 100%;
  }